@font-face {
    font-family: roboto-black;
    src: url("./../font/Roboto-Black.ttf");
}

@font-face {
    font-family: roboto-light;
    src: url("./../font/Roboto-Light.ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto-black;
    /* border: 1px solid black; */
}
li {
    list-style-type: none;
    font-size: larger;
    font-weight: bolder;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: auto;
    margin: 1rem;
}
li div {
    display: flex;
    align-items: center;
    justify-content: center;
}
li svg {
    height: 1.5rem;
    align-self: center;
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1.5fr;
    grid-template-rows: 1.5fr 5fr;
}

.sidebar {
    background-color: #1992d4;
    grid-row: 1 /3;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
}

.body {
    background-color: black;
    display: grid;
    grid-column: 2/3;

}

.notice-board {
    background-color: brown;
    grid-column: 3/4;
    grid-row: 2/3; 
}
.logo-container {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}

.logo {
    background-color: yellow;
}

.nav-bar {
    background-color: #ffffff;;
    grid-column: 2/4;
    display: grid;
    grid-template-rows: 1.5fr 2.5fr;
    /* border: 1px solid black ; */
}

.action-container > div {
    /* border: 1px solid black; */
}

.search-container {
    background-color: #ffffff;
    display: grid;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    grid-template-columns: 3.5fr 2fr ;
}

.search-container svg {
    max-height: 25px;
}
.input {
    grid-row: 1/2;
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 10px;
    margin-left: 2rem;
}
input {
    /* flex-grow: 1; */
    width: 90%;
    height: 1.5rem;
    border-radius: 10px;
    background-color: #e2e8f0;
    border: 0;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: roboto-light;
}
.notification svg {
    height: 2rem;
}
.bell {
    /* height: 3rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification .logo {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.user-details {
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


.action {
    /* border: 1px solid black; */
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action-container .logo {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    /* padding: auto; */
    margin-left: 2.5rem;
    margin-right: 1rem;
}
.action-container {
    display: flex;
    justify-content: space-between;
    /* flex-direction: ; */
}

.details p:first-child {
    font-size: 12px;
    font-weight:900;
    font-family: roboto-light;
}
.details {
    line-height: 1.5;
}

.details p:last-child {
    font-size: 1.3rem;
}

.action button {
    border: 0;
    height: 1.8rem;
    border-radius: 30px;
    background-color: #1992d4;
    width: 5rem;
    color: #fefefe;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}